<h1>{{ title }} app is running</h1>

<ul>
  <li>
    <a href="./try-one"> Try-One</a>
  </li>
  <li>
    <a href="./try-two"> Try-Two</a>
  </li>
  <li>
    <a href="./try-three"> Try-Three</a>
  </li>
  <li>
    <a href="./two-ways/"> Two-Ways</a>
  </li>
  <li>
    <a href="#"> Lab5</a>
  </li>
</ul>
<router-outlet></router-outlet>
<!--
<div>
  <ng-template ngFor [ngForOf]="[10, 20, 30]" let-value let-i="index">
    {{ i }} : {{ value }}<br />
  </ng-template>
</div>
<br />

<div>
  <ng-container *ngFor="let value of [10, 20, 30]; let i = index">
    {{ i }} : {{ value }} <br />
  </ng-container>
</div>
<br />

<div>
  <div *ngFor="let value of [10, 20, 30]; let i = index">
    {{ i }} : {{ value }} <br />
  </div>
</div>
<br />

<div>
  <ng-template ngFor [ngForOf]="products" let-product let-i="index">
    No. {{ i + 1 }} : [{{ product.code }}] {{ product.name }}<br />
  </ng-template>
</div>
<br />

<div>
  <ng-container *ngFor="let product of products; let i = index">
    No. {{ i + 1 }} : [{{ product.code }}] {{ product.name }}<br />
  </ng-container>
</div>


<div>
  external : <output>{{ externalMessage }}</output>
  <br />
  <app-two-ways [(message)]="externalMessage" />
</div>

-->
